<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>
	<p>
		Splurty was built by <a target="_blank href="http://github.com/GretchenHK">Gretchen Halasi-Kun</a>. This is the first web application Gretchen has built. Splurty is designed to collect and share quotes about being a military wife. Hopefully this is the first of many successful web applications to be built by Gretchen.
	</p>


 <div class="col-xs-12 col-sm-4">
 	<%= image_tag 'headshot.jpg', :class => 'img-responsive' %>
 </div>

 <div class="col-xs-12 col-sm-7 col-sm-offset-1">
 	<h2 class="text-center">Gretchen Halasi-Kun</h2>
 	<br />
 	<p>
 		Gretchen taught elementary school in Colorado, California, Texas, Florida, and Idaho. She has a masters in curriculum, technology and education reform, and a private pilot's license. Currently, Gretchen works in the Technology Group at a global learning company. Learning to code is challenging, but rewarding, and will make Gretchen a rock star at her job.
 	</p>
 </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
